footer
{
    width: 1440px;
    padding-left: 165px;
    display: flex;
    flex-direction: row;
    height: 78px;
    /* background-color: aqua; */
}

footer p
{
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 20px;
}


.copyright a
{
    
    font-size: 12px;
    text-decoration: underline;
    color: #278AFF;

}

.footer-nav
{
    padding-left: 520px;
    padding-top: 31px;
}

.footer-nav a
{
    color: #333333;
    font-weight: 400px;
    font-size: 12px;
}

footer ul
{
    
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}